.Custom{
	width: 100%;
	height: 8%;
	border-bottom: 1px solid #ddd;
	background: #fff;
}

.Custom span{
	float: left;
	padding-left: 6%;
	padding-top: 3.5%;
}

.Custom a{
	display: block;
	width: 20%;
	height: 70%;
	margin-right: 6%;
	margin-top: 2%;
	border-radius: 20px;
	background: #e7f3f0;
	float: right;
	color: #00bd6b;
	text-align: center;
	line-height: 237%;
}

.Custom a:hover{
	text-decoration: none;
}