#top{
	width: 100%;
	height: 7%;
	background: #00b38a;
	color: #fff;
	font-size: 150%;
	text-align: center;
	line-height: 197%;
}

#top .glyphicon-menu-left{
	float: left;
	margin: 3% 4%;
}

#top .glyphicon-home{
	float: right;
	margin: 2.5% 4%;
	color: #eee;
}
